@{
  ViewData["Title"] = "Politica de Privacidade";
}

@section Styles {
  <link rel="stylesheet" href="/css/privacy.css" asp-append-version="true" />
}

<main class="Privacy">
  <h1>@ViewData["Title"]</h1>

  <section>
    <p>A <strong>PenKAI</strong> tem o compromisso com a privacidade e a segurança dos seus dados durante todo o
      processo de uso do site.</p>
  </section>

  <section>
    <p>Sendo assim, coletamos informações como
      seu nome, e-mail, senha e os conteúdos que você enviar para criar e usar sua página personalizada. Usamos esses
      dados para que você possa usar nossa plataforma, receber notificações e melhorar sua experiência. Também os
      utilizamos para cumprir a lei e proteger a segurança do site.
  </section>

  <section>
    <p>
      Não vendemos ou trocamos seus dados. Só compartilhamos quando necessário para prestar serviços, como hospedagem,
      ou por obrigação legal. Utilizamos cookies para facilitar sua navegação e guardar suas preferências, e você pode
      controlar isso pelo seu navegador.
    </p>
  </section>

  <section>
    <p>
      Tomamos cuidado para proteger suas informações contra acessos indevidos ou perdas. Você pode pedir para ver,
      corrigir ou apagar seus dados quando quiser, além de cancelar seu consentimento para usarmos suas informações.
      Para isso, basta enviar um e-mail para suporte@penkaiportal.com.
    </p>
  </section>

  <section>
    <h2>Atualizações desta Política</h2>
    <p>Podemos atualizar esta Política de Privacidade periodicamente. Publicaremos a data da última revisão abaixo:</p>
    <p><em>Última atualização: 1 de Jun de 2025</em></p>
  </section>
</main>
